<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="#">requests</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">posts</a>
  </li>
    <li class="nav-item ml-auto">
    <a class="nav-link" href="#">logout</a>
  </li>
</ul>