<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link <%if(active == 'offers'){%>active<%}%>" href="/offers">requests</a>
  </li>
  <li class="nav-item <%if(active == 'posts'){%>active<%}%>">
    <a class="nav-link" href="#">posts</a>
  </li>
    <li class="nav-item ml-auto">
    <a class="nav-link" href="#">logout</a>
  </li>
</ul>