body {
    background-color: #fafafa !important;
}

.nav .nav-item .nav-link {
    color: #ffffff;
    text-transform: uppercase;
}

.nav.nav-tabs {
    background-color: rgba(41,58,74,.95);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: rgba(41,58,74,.95);
}

.nav-item.ml-auto .nav-link {
    margin-top: 1px;
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.offer {
    padding: 15px 0 15px 0;
}

.offer .header {
    border: 1px solid #293a4a;
    border-radius: 3px 3px 0 0;
    margin: 0 auto;
    max-width: 603px;
    background-color: rgba(41,58,74,.95);
    padding: 10px 15px;
    text-transform: uppercase;
    color: white;
}

.offer .header span a {
    color: #ffffff;
    text-decoration: none;
}

.offer .holder {
    border-radius: 0 0 3px 3px;
    max-width: 600px;
    min-height: 250px;
    padding: 20px 50px;
    margin: 0 auto;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(184,184,184,1);
    -moz-box-shadow: 1px 1px 3px 0px rgba(184,184,184,1);
    box-shadow: 0 0 3px rgba(0,0,0,.2);
    background-color: #ffffff;
}

.offer .holder .name {
    font-size: 1.4rem;
}

.offer .holder .email {
    font-size: .9rem;
    text-decoration: underline;
    cursor: pointer;
}

.offer .holder .content {
    text-align: justify;
    padding: 15px 0 15px 0;
}

.offer .holder span:last-child {
    float: right;
}

.offer-container:first-child .offer {
    padding-top: 30px;
}

.header span {
    float: right;
    cursor: pointer;
    margin-top: 5px;
}

.pagination-container {
    text-align: center;
    cursor: pointer;
    color: rgba(41,58,74,.95);
}

.pagination-container .page {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: rgba(41,58,74,.95);
    color: #ffffff;
    padding: 3px 0 5px 0;
    border-radius: 2px;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: rgba(41,58,74,.95);
    margin-top: 30px;
}

.footer .container {
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}